---
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
TabWidth: 4
UseTab: Never
AccessModifierOffset: -4
PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false
BreakBeforeBraces: Allman
NamespaceIndentation: Inner
BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 4
PackConstructorInitializers: Never
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: true
AlignAfterOpenBracket: Align
AlignOperands: Align
AlignTrailingComments: true
IncludeBlocks: Regroup
SortIncludes: true
IncludeCategories:
  - Regex: '^"'
    Priority: 1
  - Regex: '^<'
    Priority: 2
...
